<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428986110372-15nm9gge67t45e542570j2kjnbdnmuq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428986110372-15nm9gge67t45e542570j2kjnbdnmuq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBbTnBn0MHPMnioaL4y68Da3d41JlaSY-g</string>
	<key>GCM_SENDER_ID</key>
	<string>428986110372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JimFu.Errand</string>
	<key>PROJECT_ID</key>
	<string>errand-2ce2c</string>
	<key>STORAGE_BUCKET</key>
	<string>errand-2ce2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428986110372:ios:e926ef335bb2274854b131</string>
	<key>DATABASE_URL</key>
	<string>https://errand-2ce2c.firebaseio.com</string>
</dict>
</plist>